{% extends 'cms/cms_base.html' %}

{% block title %}
    接口测试平台
{% endblock %}

{% block head %}
{% endblock %}

{% block page_title %}
    快速测试
{% endblock %}

{% block main_content_2 %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="nav nav-list">
                    <li class="nav-header">List header</li>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Applications</a></li>
                    <li class="nav-header">Another list header</li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content_3 %}
{% endblock %}

